<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noti">

    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 1.브로드캐스트 수신할려면(수신앱에서 해야하는거), 2.수신자에 브로드캐스트를 전송할 수 있다. -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".notification1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 1.노티피케이션 연습 -->
        <receiver
            android:name=".notification1.MyBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.SEND_SMS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" /> <!-- 브로드캐스트("수신 앱"해당) -->
            </intent-filter>
        </receiver>

        <activity android:name=".notification1.Two" /> <!-- 2.브로드캐스트 수신자(=브로드캐스트 리시버) 연습 -->
        <receiver
            android:name="broadcasting2.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="broadcasting2.SmsActivity" />
        <activity android:name="ratingbar4.CommentWriteActivity" />
        <activity android:name="fragment5.MainFActivity" />
        <activity android:name="viewpager6.Activity6" />
        <activity
            android:name="nevigationdrawer7.Activity7"
            android:label="@string/title_activity_7"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name="captureIntent8.Activity8"/>

        <activity android:name="capture9.Activity9"/>

        <activity android:name="mediaplayer10.Activity10"/>

        <activity android:name="videoplayer11.Activity11"/>

        <activity android:name="audiorecorder12.Activity12"/>

        <activity android:name="recyclerview13.Activity13"/>

        <activity android:name="imgjoominjoomout14.Activity14"/>

        <activity android:name="youtuplay15.Activity15"/>

    </application>

</manifest>